### Importando bibliotecas que vão ser utilizadas

In [19]:
import numpy as np
import pandas as pd
from datetime import datetime

#### Importando a planilha e armazenando em um dataset

In [38]:
df = pd.read_csv('DataBase.csv')

In [39]:
df.head()

,order_created_at,order_number,order_status,customer_store_id,shipment_id,shipment_status,estimated_delivery_date,actual_delivery_date,store,delivery_by_merce,shipping_price,sold_amount,picked_amount,picked_cmv,rebate_amount
0,4/8/21 09:59:31,94783921,CANCELED,104b004e-f528-408c-9422-ef20e9984d44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159.13,0.00,0.00,NaN
1,4/27/21 16:09:18,90898417,HANDED_OUT,d9143ad0-5f8a-43cb-8a13-cba6254101de,9985ecbb-33b9-4fcf-aca6-48c70630a8af,HANDED_OUT,2021-04-28,2021-04-28,Atacadão - Interlagos,True,0.0,543.86,336.40,382.26,NaN
2,4/14/21 18:58:23,18551849,CANCELED,b31be17e-b8c6-43d1-b1f7-64688b0ec6b7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130.50,0.00,0.00,NaN
3,5/19/21 14:06:22,7465659,HANDED_OUT,6ffebe40-8f53-4b04-a793-3b227c5b0ab7,12962fc1-931c-428e-8440-66e8e566a578,HANDED_OUT,2021-05-21,2021-06-07,Atacadão - Online,False,0.0,683.10,637.56,658.55,"17,1882"
4,6/2/21 13:37:54,18696871,HANDED_OUT,84d293e8-2ae8-4233-96e3-a6b24f1db6f6,43fdc809-8b0b-4eca-a2ff-db7329e7cc8e,HANDED_OUT,2021-06-03,2021-06-03,Adega Félix,True,0.0,153.73,143.48,146.23,NaN

## Pergunta 1

Preencha as colunas de D até G da tabela a seguir com os KPIs de cada linha

|   | abr/21  | mai/21   | jun/21   | Q2.2021   | jul/21   |
|-|:-:|:-:|:-:|:-:|:-:|
| % de pedidos criados   |   |   |   |   |   |
| % de entregas finalizadas  |   |   |   |   |   |
| % de clientes com entrega finalizada  |   |   |   |   |   |
|   GMV  |   |   |   |   |   |
| % de entregas próprias   |   |   |   |   |   |

In [40]:
list(df)

['order_created_at',
 'order_number',
 'order_status',
 'customer_store_id',
 'shipment_id',
 'shipment_status',
 'estimated_delivery_date',
 'actual_delivery_date',
 'store',
 'delivery_by_merce',
 'shipping_price',
 'sold_amount',
 'picked_amount',
 'picked_cmv',
 'rebate_amount']

In [41]:
df['order_status'].count()

10547

In [42]:
df_test = df.copy()

In [43]:
df_test.head()

,order_created_at,order_number,order_status,customer_store_id,shipment_id,shipment_status,estimated_delivery_date,actual_delivery_date,store,delivery_by_merce,shipping_price,sold_amount,picked_amount,picked_cmv,rebate_amount
0,4/8/21 09:59:31,94783921,CANCELED,104b004e-f528-408c-9422-ef20e9984d44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159.13,0.00,0.00,NaN
1,4/27/21 16:09:18,90898417,HANDED_OUT,d9143ad0-5f8a-43cb-8a13-cba6254101de,9985ecbb-33b9-4fcf-aca6-48c70630a8af,HANDED_OUT,2021-04-28,2021-04-28,Atacadão - Interlagos,True,0.0,543.86,336.40,382.26,NaN
2,4/14/21 18:58:23,18551849,CANCELED,b31be17e-b8c6-43d1-b1f7-64688b0ec6b7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130.50,0.00,0.00,NaN
3,5/19/21 14:06:22,7465659,HANDED_OUT,6ffebe40-8f53-4b04-a793-3b227c5b0ab7,12962fc1-931c-428e-8440-66e8e566a578,HANDED_OUT,2021-05-21,2021-06-07,Atacadão - Online,False,0.0,683.10,637.56,658.55,"17,1882"
4,6/2/21 13:37:54,18696871,HANDED_OUT,84d293e8-2ae8-4233-96e3-a6b24f1db6f6,43fdc809-8b0b-4eca-a2ff-db7329e7cc8e,HANDED_OUT,2021-06-03,2021-06-03,Adega Félix,True,0.0,153.73,143.48,146.23,NaN

In [47]:
type(df_test['order_created_at'].iloc[0])

str

In [49]:
df_test['order_created_at'] = pd.to_datetime(df_test['order_created_at'])
df_test.head()

,order_created_at,order_number,order_status,customer_store_id,shipment_id,shipment_status,estimated_delivery_date,actual_delivery_date,store,delivery_by_merce,shipping_price,sold_amount,picked_amount,picked_cmv,rebate_amount
0,2021-04-08 09:59:31,94783921,CANCELED,104b004e-f528-408c-9422-ef20e9984d44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159.13,0.00,0.00,NaN
1,2021-04-27 16:09:18,90898417,HANDED_OUT,d9143ad0-5f8a-43cb-8a13-cba6254101de,9985ecbb-33b9-4fcf-aca6-48c70630a8af,HANDED_OUT,2021-04-28,2021-04-28,Atacadão - Interlagos,True,0.0,543.86,336.40,382.26,NaN
2,2021-04-14 18:58:23,18551849,CANCELED,b31be17e-b8c6-43d1-b1f7-64688b0ec6b7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130.50,0.00,0.00,NaN
3,2021-05-19 14:06:22,7465659,HANDED_OUT,6ffebe40-8f53-4b04-a793-3b227c5b0ab7,12962fc1-931c-428e-8440-66e8e566a578,HANDED_OUT,2021-05-21,2021-06-07,Atacadão - Online,False,0.0,683.10,637.56,658.55,"17,1882"
4,2021-06-02 13:37:54,18696871,HANDED_OUT,84d293e8-2ae8-4233-96e3-a6b24f1db6f6,43fdc809-8b0b-4eca-a2ff-db7329e7cc8e,HANDED_OUT,2021-06-03,2021-06-03,Adega Félix,True,0.0,153.73,143.48,146.23,NaN

In [52]:
df_test['month'] = pd.DatetimeIndex(df_test['order_created_at']).month

In [53]:
df_test.head()

,order_created_at,order_number,order_status,customer_store_id,shipment_id,shipment_status,estimated_delivery_date,actual_delivery_date,store,delivery_by_merce,shipping_price,sold_amount,picked_amount,picked_cmv,rebate_amount,month
0,2021-04-08 09:59:31,94783921,CANCELED,104b004e-f528-408c-9422-ef20e9984d44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159.13,0.00,0.00,NaN,4
1,2021-04-27 16:09:18,90898417,HANDED_OUT,d9143ad0-5f8a-43cb-8a13-cba6254101de,9985ecbb-33b9-4fcf-aca6-48c70630a8af,HANDED_OUT,2021-04-28,2021-04-28,Atacadão - Interlagos,True,0.0,543.86,336.40,382.26,NaN,4
2,2021-04-14 18:58:23,18551849,CANCELED,b31be17e-b8c6-43d1-b1f7-64688b0ec6b7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130.50,0.00,0.00,NaN,4
3,2021-05-19 14:06:22,7465659,HANDED_OUT,6ffebe40-8f53-4b04-a793-3b227c5b0ab7,12962fc1-931c-428e-8440-66e8e566a578,HANDED_OUT,2021-05-21,2021-06-07,Atacadão - Online,False,0.0,683.10,637.56,658.55,"17,1882",5
4,2021-06-02 13:37:54,18696871,HANDED_OUT,84d293e8-2ae8-4233-96e3-a6b24f1db6f6,43fdc809-8b0b-4eca-a2ff-db7329e7cc8e,HANDED_OUT,2021-06-03,2021-06-03,Adega Félix,True,0.0,153.73,143.48,146.23,NaN,6

In [63]:
Data = df_test['order_created_at'].iloc[0]

In [65]:
df['order_status'].value_counts()

HANDED_OUT    9205
CANCELED       904
PICKING        354
ACCEPTED        38
PICKED          33
REJECTED        13
Name: order_status, dtype: int64

In [113]:
Aceitos=df_test[(df_test['month']==6) & (df_test['order_status']=='CANCELED') | (df_test['order_status']=='REJECTED')].count()
MesTotal= sum(df_test['month']==4)
print(100-(Aceitos.order_status/MesTotal*100))

92.97919762258545

In [103]:
sum(df_test['month']==4)#['order_status'].value_counts() == 'CANCELED')

2692

In [117]:
sum(df_test['month']==4 & df_test['order_status']=='CANCELED')

TypeError: Cannot perform 'rand_' with a dtyped [object] array and scalar of type [bool]

In [145]:
Total=df_test.groupby('month').count()
##Total['order_status']
Total

,order_created_at,order_number,order_status,customer_store_id,shipment_id,shipment_status,estimated_delivery_date,actual_delivery_date,store,delivery_by_merce,shipping_price,sold_amount,picked_amount,picked_cmv,rebate_amount
month,,,,,,,,,,,,,,,
4,2692,2692,2692,2692,2334,2334,2084,2288,2284,2334,2334,2692,2692,2692,4
5,3267,3267,3267,3267,3259,3259,2990,2921,2933,3259,3259,3267,3267,3267,359
6,4588,4588,4588,4588,4586,4586,4531,4230,4298,4586,4586,4588,4588,4588,1215

In [202]:
df_test[(df_test['month']==4) & (df_test['order_status'] =='HANDED_OUT')].count()

order_created_at           2274
order_number               2274
order_status               2274
customer_store_id          2274
shipment_id                2274
shipment_status            2274
estimated_delivery_date    2059
actual_delivery_date       2274
store                      2274
delivery_by_merce          2274
shipping_price             2274
sold_amount                2274
picked_amount              2274
picked_cmv                 2274
rebate_amount                 4
month                      2274
dtype: int64