### Importando bibliotecas que vão ser utilizadas

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

#### Importando a planilha e armazenando em um dataset

In [2]:
df = pd.read_csv('DataBase.csv')

In [3]:
df.head()

,order_created_at,order_number,order_status,customer_store_id,shipment_id,shipment_status,estimated_delivery_date,actual_delivery_date,store,delivery_by_merce,shipping_price,sold_amount,picked_amount,picked_cmv,rebate_amount
0,4/8/21 09:59:31,94783921,CANCELED,104b004e-f528-408c-9422-ef20e9984d44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159.13,0.00,0.00,NaN
1,4/27/21 16:09:18,90898417,HANDED_OUT,d9143ad0-5f8a-43cb-8a13-cba6254101de,9985ecbb-33b9-4fcf-aca6-48c70630a8af,HANDED_OUT,2021-04-28,2021-04-28,Atacadão - Interlagos,True,0.0,543.86,336.40,382.26,NaN
2,4/14/21 18:58:23,18551849,CANCELED,b31be17e-b8c6-43d1-b1f7-64688b0ec6b7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130.50,0.00,0.00,NaN
3,5/19/21 14:06:22,7465659,HANDED_OUT,6ffebe40-8f53-4b04-a793-3b227c5b0ab7,12962fc1-931c-428e-8440-66e8e566a578,HANDED_OUT,2021-05-21,2021-06-07,Atacadão - Online,False,0.0,683.10,637.56,658.55,"17,1882"
4,6/2/21 13:37:54,18696871,HANDED_OUT,84d293e8-2ae8-4233-96e3-a6b24f1db6f6,43fdc809-8b0b-4eca-a2ff-db7329e7cc8e,HANDED_OUT,2021-06-03,2021-06-03,Adega Félix,True,0.0,153.73,143.48,146.23,NaN

## Pergunta 1

Preencha as colunas de D até G da tabela a seguir com os KPIs de cada linha

|   | abr/21  | mai/21   | jun/21   | Q2.2021   | jul/21   |
|-|:-:|:-:|:-:|:-:|:-:|
| % de pedidos criados   |   |   |   |   |   |
| % de entregas finalizadas  |   |   |   |   |   |
| % de clientes com entrega finalizada  |   |   |   |   |   |
|   GMV  |   |   |   |   |   |
| % de entregas próprias   |   |   |   |   |   |

In [4]:
df['order_status'].count() #Quantidade de linhas

10547

In [5]:
df_backup = df.copy() #Faz um backup do dataframe, para eventuais problemas durante as análises

In [6]:
df.head()
#df.dropna(axis=1)

,order_created_at,order_number,order_status,customer_store_id,shipment_id,shipment_status,estimated_delivery_date,actual_delivery_date,store,delivery_by_merce,shipping_price,sold_amount,picked_amount,picked_cmv,rebate_amount
0,4/8/21 09:59:31,94783921,CANCELED,104b004e-f528-408c-9422-ef20e9984d44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159.13,0.00,0.00,NaN
1,4/27/21 16:09:18,90898417,HANDED_OUT,d9143ad0-5f8a-43cb-8a13-cba6254101de,9985ecbb-33b9-4fcf-aca6-48c70630a8af,HANDED_OUT,2021-04-28,2021-04-28,Atacadão - Interlagos,True,0.0,543.86,336.40,382.26,NaN
2,4/14/21 18:58:23,18551849,CANCELED,b31be17e-b8c6-43d1-b1f7-64688b0ec6b7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130.50,0.00,0.00,NaN
3,5/19/21 14:06:22,7465659,HANDED_OUT,6ffebe40-8f53-4b04-a793-3b227c5b0ab7,12962fc1-931c-428e-8440-66e8e566a578,HANDED_OUT,2021-05-21,2021-06-07,Atacadão - Online,False,0.0,683.10,637.56,658.55,"17,1882"
4,6/2/21 13:37:54,18696871,HANDED_OUT,84d293e8-2ae8-4233-96e3-a6b24f1db6f6,43fdc809-8b0b-4eca-a2ff-db7329e7cc8e,HANDED_OUT,2021-06-03,2021-06-03,Adega Félix,True,0.0,153.73,143.48,146.23,NaN

In [7]:
#Converte o campo order_created_at que esta no formato 'str' para o formato datetime
df['order_created_at'] = pd.to_datetime(df['order_created_at']) 
df.head()

,order_created_at,order_number,order_status,customer_store_id,shipment_id,shipment_status,estimated_delivery_date,actual_delivery_date,store,delivery_by_merce,shipping_price,sold_amount,picked_amount,picked_cmv,rebate_amount
0,2021-04-08 09:59:31,94783921,CANCELED,104b004e-f528-408c-9422-ef20e9984d44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159.13,0.00,0.00,NaN
1,2021-04-27 16:09:18,90898417,HANDED_OUT,d9143ad0-5f8a-43cb-8a13-cba6254101de,9985ecbb-33b9-4fcf-aca6-48c70630a8af,HANDED_OUT,2021-04-28,2021-04-28,Atacadão - Interlagos,True,0.0,543.86,336.40,382.26,NaN
2,2021-04-14 18:58:23,18551849,CANCELED,b31be17e-b8c6-43d1-b1f7-64688b0ec6b7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130.50,0.00,0.00,NaN
3,2021-05-19 14:06:22,7465659,HANDED_OUT,6ffebe40-8f53-4b04-a793-3b227c5b0ab7,12962fc1-931c-428e-8440-66e8e566a578,HANDED_OUT,2021-05-21,2021-06-07,Atacadão - Online,False,0.0,683.10,637.56,658.55,"17,1882"
4,2021-06-02 13:37:54,18696871,HANDED_OUT,84d293e8-2ae8-4233-96e3-a6b24f1db6f6,43fdc809-8b0b-4eca-a2ff-db7329e7cc8e,HANDED_OUT,2021-06-03,2021-06-03,Adega Félix,True,0.0,153.73,143.48,146.23,NaN

In [8]:
df['month'] = pd.DatetimeIndex(df['order_created_at']).month

In [9]:
df.head()

,order_created_at,order_number,order_status,customer_store_id,shipment_id,shipment_status,estimated_delivery_date,actual_delivery_date,store,delivery_by_merce,shipping_price,sold_amount,picked_amount,picked_cmv,rebate_amount,month
0,2021-04-08 09:59:31,94783921,CANCELED,104b004e-f528-408c-9422-ef20e9984d44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159.13,0.00,0.00,NaN,4
1,2021-04-27 16:09:18,90898417,HANDED_OUT,d9143ad0-5f8a-43cb-8a13-cba6254101de,9985ecbb-33b9-4fcf-aca6-48c70630a8af,HANDED_OUT,2021-04-28,2021-04-28,Atacadão - Interlagos,True,0.0,543.86,336.40,382.26,NaN,4
2,2021-04-14 18:58:23,18551849,CANCELED,b31be17e-b8c6-43d1-b1f7-64688b0ec6b7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130.50,0.00,0.00,NaN,4
3,2021-05-19 14:06:22,7465659,HANDED_OUT,6ffebe40-8f53-4b04-a793-3b227c5b0ab7,12962fc1-931c-428e-8440-66e8e566a578,HANDED_OUT,2021-05-21,2021-06-07,Atacadão - Online,False,0.0,683.10,637.56,658.55,"17,1882",5
4,2021-06-02 13:37:54,18696871,HANDED_OUT,84d293e8-2ae8-4233-96e3-a6b24f1db6f6,43fdc809-8b0b-4eca-a2ff-db7329e7cc8e,HANDED_OUT,2021-06-03,2021-06-03,Adega Félix,True,0.0,153.73,143.48,146.23,NaN,6

In [114]:
#Resposta da primeira linha do problema 
MesTotal=df.groupby('month').count()
x=df[(df['order_status']=='CANCELED') ].groupby('month').count()
y=df[(df['order_status']=='REJECTED') ].groupby('month').count()
z=y.reindex_like(x).fillna(0) + x.fillna(0).fillna(0)
Total=(100-(z/MesTotal*100))
Q2=(100-(z.sum())/MesTotal.sum()*100)
Total['order_created_at'].round(0), Q2['order_created_at'].round(0)

(month
 4    85.0
 5    90.0
 6    96.0
 Name: order_created_at, dtype: float64,
 91.0)

In [107]:
#Resposta da segunda linha do problema 1

QuantMes=df.groupby('month').count()
x=df[(df['shipment_status']=='HANDED_OUT') ].groupby('month').count()
Total = (x/QuantMes)*100
Total['shipment_status'].round(0)

month
4    97.0
5    87.0
6    90.0
Name: shipment_status, dtype: float64

In [12]:
#Resposta da terceira linha do problema 1

df['COUNTER'] =1  #initially, set that counter to 1.#
Store = df[(df['shipment_status']=='HANDED_OUT') ].groupby(['month','store'])['COUNTER'].count() #Conta a quantidade stores que recberam a encomenda
TotalStore = df.groupby(['month','store'])['COUNTER'].sum()  #Soma valores unicos por mês de store
SubTotal = (TotalStore - Store).isin([0]).groupby('month').sum() #Subtrai A quantidade de stores por mês menos a quantidade de stores que tem todas as entregas 
TotalStore = TotalStore.groupby('month').count() #Agrupa por mês a quantidade de stores unicos
Total = (SubTotal)/TotalStore*100 #Calcula a porcentagem de stores com todas as entregas feitas por mês
Total.round(0)

month
4    25.0
5    58.0
6    55.0
Name: COUNTER, dtype: float64

In [50]:
#Resposta da quinta linha do problema 1
Shiptotal=df.groupby('month').count()
ShipTrue= df[(df['delivery_by_merce']==True) ].groupby('month').count()
Total = (ShipTrue/Shiptotal)*100
   
Total['delivery_by_merce'].round(1)

month
4    99.8
5    94.5
6    88.7
Name: delivery_by_merce, dtype: float64

In [63]:
df['sold_amount'] = pd.to_numeric(df['sold_amount'],errors='coerce')
df['GMV'] = df['shipping_price'] * df['sold_amount']

In [79]:
df.groupby('month').sum()

       order_number  shipping_price  sold_amount  COUNTER         GMV
month
4      135766749580         26205.0    805477.94     2692  8475393.30
5      161901802387         22260.0    864861.13     3267  6691431.75
6      231748896755         14925.0   1096212.48     4588  3355411.20